*#
*.iml
*.ipr
*.iws
*.pyc
*.tm.epoch
*.vim
*-shim.sbt
.idea/
/project/plugins/project
project/boot
target/
/logs

.DS_Store
.idea_modules/
project/project/
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store

SecretStuff.java
log/
